/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.timelineGlobalTrack {
  margin: 0;
  padding: 0;
  border-top: 1px solid var(--grey-30);
  box-shadow: 0 1px var(--grey-30);
}

.timelineGlobalTrackGlobalRow {
  display: flex;
  flex-flow: row nowrap;
}

.timelineGlobalTrack.selected {
  background-color: #edf6ff;
}

.timelineGlobalTrackHidden {
  height: 0;
  pointer-events: none;
}

.timelineGlobalTrackLabel {
  box-sizing: border-box;
  width: 150px;
  border-right: 1px solid var(--grey-30);
  padding-left: 14px;
  cursor: default;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.timelineGlobalTrackName {
  font-weight: normal;
  font: message-box;
  font-size: 100%;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.timelineGlobalTrackTrack {
  flex: 1;
  position: relative;
  z-index: 1;
  display: flex;
  flex-flow: column nowrap;
}
